body {
    margin: 0;
    padding: 0;
    background-color: rgb(150, 200, 145);
}

h1 {
    margin: 0;
    text-align: center;
    background-color: rgb(179, 178, 178);
    padding: 10px;
    width: 100%;
}

h3 {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

#home {
    background-color: rgb(150, 200, 145);
    border: none;
}

#libs {
    background-color: rgb(150, 200, 145);
    border: none;
}

#thumb {
    background-color: rgb(150, 200, 145);
    border: none;
}

#page {
    width: 80vw;
    border: 3px solid black;
    padding: 2vh;
    display: flex;
    justify-content: center;
}

.list-group {
    width: 20vw;
    padding: 2vw;
    border: 3px solid black;
    border-radius: 0%;
    border-right: none;
}

.main {
    display: flex;
    height: fit-content;
}

#libs-page {
    display: none;
    width: 50vw;
}

#thumb-page{
    display: none;
}

#home-page{
    display: flex;
    flex-direction: column;
}

.libs-form, .thumb-form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 2vw;
}

.libs-ans {
    margin-top: 1vh;
    display: none;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
}

.thumb-ans {
    margin-top: 2vh;
    height: 10vh;
    border: 2px solid black;
}

p {
    margin-left: 1vw;
    margin-top: 2vh;
    margin-right: 1vw;
}

input {
    margin-top: 1vh;
}

button {
    margin-top: 2vh;    
    border: none;
    border: 2px solid black;
    font-weight: bold; 
}

button:focus {
    border: none;
}